html {
    box-sizing: border-box;
}

/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
}

/* NEED TO FIX FOOTER WHEN I GET TO THAT PART!!! */
nav, 
.hero,
.info,
footer {
    padding: 0 100px;
}

/* HEADER */

nav, 
.hero, 
footer {
    background-color: #1f2937;
}

nav {
    display: flex;
    align-items: center;
}

.headlogo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 10px;
}

ul,
.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

/* HERO SECTON */

.hero {
    display: flex;
    flex: 1;
    gap: 25px;
    padding: 100px 200px;
}

.herotitle {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

.imgholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747474;
    color: #e2e2e2;
    min-width: 400px;
}

/* INFO SECTON */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infotitle {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.infocards {
    display: flex;
    gap: 40px;

}

.cardbox {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.cardtext {
    margin-top: 8px;
    text-align: center;
    font-size: 16.5px;
}

