html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body,
.ctahead,
.ctap {
    margin: 0;
}


nav,
.hero,
.info,
.quote,
.ctacard {
    max-width: 900px;
    margin: auto;
}

header,
.containerhero,
footer {
    background-color: #1f2937;
}

.infotitle,
.cardtext,
.quotetext {
    color: #1f2937;
}

ul,
.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

.herotitle,
.ctahead,
.foot {
    color: #f9faf8;
}

.imgholder,
.ctacontainer,
.ctacard,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}    


/* HEADER */

nav {
    display: flex;
    align-items: center;
}

.headlogo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 10px;
}



/* HERO SECTON */

.hero {
    display: flex;
    flex: 1;
    gap: 25px;
    padding: 100px 0;
}

.herotitle {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

.imgholder {
    background-color: #747474;
    color: #e2e2e2;
    min-width: 400px;
}


/* INFO SECTON */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;
}

.infotitle {
    font-size: 36px;
    font-weight: 900;
}

.infocards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.cardbox {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.cardtext {
    margin-top: 8px;
    text-align: center;
    font-size: 16.5px;
}


/* QUOTE SECTION */

.containerquote {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 100px 0 50px 0;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

.quotename {
    align-self: flex-end;
    font-weight: 900;
}


/* CTA SECTION */

.ctacard {
    background-color: #3882f6;
    margin: 75px auto;
    border-radius: 5px;
    gap: 135px;
    padding: 40px;
}

.ctabutton {
    border: 2px solid;
}

.ctahead {
    font-weight: 900;
}

.ctap {
    color: #f7faff;
}


/* FOOTER SECTION */

footer {
    padding: 15px;
}



